body {
    background-image: linear-gradient(to right bottom,
     #e39858, #cd963f, #b19527, 
     #929511, #6d9305, #568b0b, #3d8311, #1d7b17, 
     #186c16, #145e15, #115013, #0e4211);
    background-color: #0e4211;
    background-repeat: no-repeat;
}
h1{
    font-family:'Marck Script', cursive;
    font-size: 80px;
    letter-spacing: 8px;
    text-align: center;
    margin-top: 50px;
}
/* EXPERIMENT: TEXT GRADIENT */
/* .title{
    background:linear-gradient(to left bottom, #E27601, rgb(173, 70, 44), #402E32);
    background-clip: text;
    -webkit-text-fill-color: transparent;
} */
h2{
    font-family: 'Marck Script', cursive;
    font-size: 40px;
    text-align: center;
    margin: 30px auto;
}
p{
    font-family: 'Varela', sans-serif;
    font-size: 14px;
    text-align: justify;
}
.about{
    height: 400px;
    width: 50%;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 25%;
    position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.background{
    height: 60vh;
    width: auto;
}
#landingBackground{
    margin-bottom: 10px;
}
#titleImage{
    display: block;
    margin: 0 auto;
}
footer{
    margin: 0 auto;
    margin-top: -60px;
    margin-bottom: 50px;
}
.container1{
    height: 20vh;
    width: 70px;
    margin: 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    height: 45px; 
    width: 315px;
    margin-top: 10px;
    font-family: 'Monoton', cursive;
    font-size: 20px;
    color: #9999CC;
    border-color: #003F00;
    border-radius: 25px;
    background-color: #003F00;
}
.container2{
    height: 100px;
    width: 100%;
    margin: 5% 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
#arrow{
    display: block;
    height: 45px;
    width: 60px;
    text-align: center;
}
#replay2{
    display: none;
    text-align: center;
    margin: 0 auto;
}
.container3{
    height: 100px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
}
#levelBar{
    margin-left:5%;
}
#friendBar{
    height: 100%;
    width: 50%;
    margin: 3.5% 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.emojiCat{
    background-image: url(images/cartoon-heart-eyes-5.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    margin-left: 10px;
}
#landing{
    display: block;
}
#aboutPage{
    display: none;
}
#game{
    display: none;
    height: 100%;
    width: 100%;
}
#heart{
    display: block;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    margin-top: 4%;
    opacity: 0;
}
#heart.flash{
    opacity: 1;
}
#level1{
    display:block;
}
#cat1-level1{
    display: block;
    margin: 0 auto;
    margin-bottom: 25%;
}
#level2{
    height: 300px;
    width: auto;
    margin: 10% 35%;
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.kitty{
    display: flex;
    margin: 0 auto;
    margin-bottom: 25%;   
}
#level3{
    height: 300px;
    width: auto;
    margin: 8% 37%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#lose{
    display: none;
}
#scratch{
    opacity: 1;
    margin: 0 35%;
    animation: SCRATCH 3s ease-in;
    animation-iteration-count: 1;
}
#win{
    display: inline-flex;
}
#catContain{
    margin: 0 auto;
    margin-left: 25%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.winning{
    display: flex;
    margin-right: -20px;
    margin-left: -15px;
}
#win-cat1-level1{
    margin-right: -30px;
    margin-left: 10px;
}
#win-cat1-level2{
    margin-left: -15px;
}

@keyframes SCRATCH {
    0%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}